// SPDX-License-Identifier: UNLICENSED
pragma solidity {{ pragma }};

contract {{ contract_name }} {
{% for snippet in state_templates %}
{% include snippet %}
{% endfor %}

{% for snippet in function_templates %}
{% include snippet %}
{% endfor %}
}
