    function {{ probe_name }}_compound({{ int_type }} a, {{ int_type }} b) external returns ({{ int_type }}) {
        {{ state_var_name }} = a;
        {{ state_var_name }} += b;
        return {{ state_var_name }};
    }
