    function {{ probe_name }}_fixed({{ int_type }} a, {{ int_type }} b) external pure returns ({{ int_type }}, {{ int_type }}) {
        {{ int_type }}[2] memory first = [a, b];
        {{ int_type }}[2] memory second = first;
        return (second[0], second[1]);
    }
