    function {{ helper_name }}({{ int_type }} a, {{ int_type }} b) internal pure returns ({{ int_type }}) {
        return a {{ operator }} b;
    }

    function {{ probe_name }}_math({{ int_type }} a, {{ int_type }} b) external pure returns ({{ int_type }}) {
        return {{ helper_name }}(a, b);
    }
