    function {{ probe_name }}_short(bool flag) external returns ({{ int_type }}) {
        if (flag && ++{{ state_var_name }} {{ compare_operator }} 0) {
            {{ secondary_state_var_name }} = true;
        }
        return {{ state_var_name }};
    }
