    {{ int_type }} public {{ seed_method_name }}_value = this.{{ seed_method_name }}() + {{ int_type }}(1);

    function {{ seed_method_name }}() external pure returns ({{ int_type }}) {
        return {{ int_type }}({{ literal_b }});
    }
