    function {{ probe_name }}_tuple({{ int_type }} left, {{ int_type }} right) external pure returns ({{ int_type }}, {{ int_type }}) {
        ({{ int_type }} first, {{ int_type }} second) = (right, left);
        return (first, second);
    }
